extends layout

block content
  style.
    @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300;400&display=swap');
    h1 {
      font-family: 'Gochi Hand', cursive;
      color: #075d37;
      text-align: center;
      padding-top: 2rem;
    }
    .container {
      text-align: center;
      font-family: 'Poppins', serif;
    }
    label {
      font-family: 'Poppins', serif;
      color: #075d37;
      display: inline;
    }

    .btn.btn-primary {
      text-decoration: none;
      background-color: #A5C1A6;
      color: white;
      padding: 10px 20px;
      border-radius: 50px;
      border: none;
      font-family: 'Poppins', serif;
      margin: 0 auto;
      text-align: center;
    }
    .btn.btn-primary:hover {
      background-color: #075d37;
      color: white;
    }
    .form-control {
      border-radius: 10px;
      font-family: 'Poppins', serif;
      width: 20%;
      margin-right: 500px;
    }
    .btn {
      display: flex;
    }
    li {
          padding:5px;
        }
    .checkbox-input {
      margin: 0 auto;
      text-align: center;
    }
    .form-group {
      margin-left: 45%;
    }


  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Título:
      input#title.form-control(type='text', placeholder='Nome do livro' name='title' required='true' value=(undefined===book ? '' : book.title) )
    div.form-group
      label(for='author') Autor:
      select#author.form-control(type='select', placeholder='Selecionar autor' name='author' required='true' )
        - authors.sort(function(a, b) {let textA = a.first_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for author in authors
          if book
            option(value=author._id selected=(author._id.toString()===book.author._id.toString() ? 'selected' : false) ) #{author.name}
          else
            option(value=author._id) #{author.name}
    div.form-group
      label(for='summary') Sumário:
      input#summary.form-control(type='textarea', placeholder='Sumário' name='summary' value=(undefined===book ? '' : book.summary) required='true')
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text', placeholder='ISBN13' name='isbn' value=(undefined===book ? '' : book.isbn) required='true')
    div.form-group
      label Genre:
      div
        for genre in genres
          div
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked)
            label(class='genero')(for=genre._id) #{genre.name}
    button.btn.btn-primary(type='submit') Enviar

  if errors
    ul
      for error in errors
        li!= error.msg